<h1 style="text-align:center; font-family: 'Cabin Sketch', cursive; font-size:100px;">MENU</h1>
<div class="book">
<details>
    <summary>고전주의 문학(18C)</summary>
    <p> <a href="/book/index">호메로스 <일리아스></a><br/>
    괴테 <파우스트(Faust)><br />
    단테 <신곡><br />
    셰익스피어 <햄릿>,<리어왕>,<맥베드>,<오델로><br />
    데포우 <로빈슨 크루소>
</p>
</details>
<details>
    <summary>낭만주의 문학(19C)</summary>
    <p>노발리스 <밤의 찬가>,<푸른 꽃><br />
    위고 <레미제라블>,<노틀담의 꼽추><br />
    듀마 <삼총사>,<몬테크리스트 백작><br />
    괴테 <젊은 베르테르의 슬픔</p>
</details>

<details>
    <summary>사실주의 문학(19C 말)</summary>
    <p>발자크 <인간 희극><br />
   플로베르 <보봐리 부인><br />
    디킨스 <올리버 트위스트>,<위대한 유산><br />
    도스토예프스키 <죄와 벌>,<백치>,<카라마조프의 형제들</p>
</details>
<details>
    <summary>자연주의 문학(19C)</summary>
    <p>괴테 <파우스트(Faust)><br />
    단테 <신곡><br />
    셰익스피어 <햄릿>,<리어왕>,<맥베드>,<오델로><br />
    데포우 <로빈슨 크루소>
</p>
</details>
</div>