.floating { 
    position: fixed; 
    right: 50%; 
    top: 180px; 
    margin-right: -720px; 
    text-align:center; 
    width: 500px; 
    font-family: 'Gaegu', cursive;
}
.book{
    text-align:center;
    font-family: 'Gaegu', cursive;
    font-size:30px;
    padding:10px;
}
.postwriting{
     font-family: 'Gaegu', cursive;
}
.postview{
    margin: 0 auto;
    display:inline-block;
    text-align:center;
    position: relative;
}
table.type02 {
    font-family: 'Gaegu', cursive;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 3px solid #369;
  margin : 20px 10px;
}
table.type02 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
table.type02 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/*.cam li{*/
/*     float:left;*/
/*}*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require slick
 *= require slick-theme
 */
