<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!--한글폰트-->
<link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
<!--영어폰트-->
<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
</head>
<body>
 <!--navbar-->
<ul class="nav nav-pills" style="font-family: 'Cabin Sketch', cursive; font-size:20px;">
  <li role="presentation"><a href="/home/index">Home</a></li>
  <li role="presentation"><a href="/news/index">News</a></li>
  <li role="presentation"><a href="/post/index">Post</a></li>
  <li role="presentation"><a href="/home/book">Book</a></li>
  <li role="presentation"><a href="/home/index">random</a></li>
  <li role="presentation"><a href="/book/check">My list</a></li>
</ul>

<%= yield %>

</body>
</html>
